<!--Example launch file for cloud node -->
<launch>
    <!-- teleop on cloud -->
	<node name="teleop_key" pkg="turtlesim" type="turtle_teleop_key" output="screen" />

    <!-- ros_pound (commwrapper) on cloud -->
    <node name="ros_pound" pkg="ros_pound" type="commwrapper.py" output="screen" args=" 1" />

    <!-- relay nodes help with the namespaces associated to pound topics -->
    <!-- A note on relay nodes: it only advertise its output once it receives something on the input -->
  	<node name="topic_tools_pose"    pkg="topic_tools" type="relay" output="screen" args="/R1/rx/R0/turtle1/pose turtle1/pose"/>
</launch>